// Component styles go here

@import 'sass/util';

.photo {
    width: 100%;
}

.photoCon {
    //border: 1px solid red;
    min-height: 250px;
   
}

:global(.sl-overlay) {
    opacity: 1 !important;
}

:global(.sl-image) {
    @include small-shadow();
    border: 10px solid #fff !important;
}
