@import 'sass/util', 'sass/variables';

.bg-raffy-navbar {
    background-color: #fff;
    @include media-breakpoint-up(md) {
        // LM: 2021-02-11 13:12:37 [better header blur]
        background-color: rgba(255, 255, 255, 0.97);
        // See: https://cssgenerator.org/box-shadow-css-generator.html
        box-shadow: 0px 50px 60px 16px rgba(255,255,255,0.97);
        padding: 0.8rem 6rem;

    }
    @include media-breakpoint-down(md) {
        background-color: rgba(255, 255, 255, 0.97);
        padding: 0.5rem 1rem;        
        @include small-shadow();
    }
    .profile-pic {
        img {
            width: 100px;
            height: 100px;
            border-radius: 76px;
            //box-shadow: 7px 10px 11px -8px rgba(0,0,0,0.58);
            border: 1px dashed #54FFC3;
        }
        @include media-breakpoint-down(md) {
            img {
                width: 80px;
                height: 80px;
                border-radius: 76px;
            }
        }        
    }
    .initial-profile-pic {
        @include blur(6);        
    }
    #responsive-navbar-nav {
        .nav-item {
            font-size: 1.3em; 
            text-transform: uppercase;
            margin-right: 3px;            
            .nav-link {
                font-size: 0.8em;
                color: #A9A9AE;
                transition: background-color 0.5s ease-out;
                &:hover,
                &.active {
                    color: $dark-font-color;
                    background-color: $link-highlight-color;
                }
            }
        }
        @include media-breakpoint-down(md) {
            margin-top: 30px;
            .nav-item {
                text-align: center; 
                padding: 8px;
                margin: 0;
                margin-bottom: 5px;
                background-color: $link-highlight-color;                
                .nav-link {
                    //color: #fff;
                    &.active {
                        font-weight: bold;
                        color: $link-normal-color;
                    }
                }
            }
        }   
    }
}